<main class="flex-center">
  <header style="max-width:480px; padding:10px 30px;">
  </header>

  <section>
    <form class="login-form">
      <h2 id="title" class="flex-center">OutHire.io</h2>
      <mat-form-field class="login-full-width">
        <input matInput placeholder="Server" [formControl]="loginFormControl"
               [errorStateMatcher]="matcher" [(ngModel)]="serverName">
        <mat-hint>OutHire.io Server</mat-hint>
        <mat-error *ngIf="loginFormControl.hasError('serverName') && !loginFormControl.hasError('required')">
          Please enter a valid server address
        </mat-error>
        <mat-error *ngIf="loginFormControl.hasError('required')">
          OutHire.io Server is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="login-full-width">
        <input matInput placeholder="Username" [formControl]="loginFormControl" [(ngModel)]="username">
        <mat-hint>OutHire.io Account</mat-hint>
        <mat-error *ngIf="loginFormControl.hasError('username') && !loginFormControl.hasError('required')">
          Please enter a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field class="login-full-width">
        <input matInput type="password" placeholder="Password" [formControl]="loginFormControl" [(ngModel)]="password">
        <mat-hint>OutHire.io Password</mat-hint>
        <mat-error *ngIf="loginFormControl.hasError('password') && !loginFormControl.hasError('required')">
          Please enter a valid passwrod
        </mat-error>
      </mat-form-field>
      <div id="login-button">
        <button mat-raised-button color="primary" (click)="login()">Track Applications</button>
      </div>
      <div *ngIf="loginAttemptFailed">
        <mat-error><h2>Unable to connect to {{serverName}}</h2></mat-error>
      </div>
    </form>
  </section>
</main>>